body {
    background: #DDD;
    font-size: 14px;
    font-family: sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
}

img {
    margin: 0;
    width: 24.7%;
}

#image-ads {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 5px 0;
}

#tabela-cursos td {
    padding: 10px 30px;
}

#rodape {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}